.Menubar {
  padding: 5px;
  text-align: left;
}
.NavigationItem a {
  color: #07689f;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
  letter-spacing: 0.1rem;
  font-weight: 500;
  font-size: 0.6rem;
}

@media (min-width: 650px) {
  .Menubar {
    display: none;
  }
}
